@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primaryColor:rgba(1,1,1,1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
}

.box-container{

  --boxHeight:80px;
  --gap:10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(var(--boxHeight) *3 + var(--gap));
  gap: var(--gap);

}

.box-container .box{
  height: var(--boxHeight);
  width: var(--boxHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px black solid;
}

.icon {
  width: 60%; 
  height: auto; 
}

.new-game{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game .winner{
  font-weight: 500;
  font-size: 5rem;
}
.new-game-button{
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  background-color: var(--primaryColor);
}